h1 {
  display:inline;
}

li {
  cursor: pointer;
}

thead th {
  background-color: #eee;
}

.space_top {
  margin-top: 10px;
}

.clickable {
  cursor: pointer;
}

.fa-exclamation {
  color: green;
  padding-left: 10px;
}

.illions {
  width: 300px;
}

.nav {
  margin-bottom: 15px;
  margin-top: 15px;
}