h1 {
  display:inline;
}

.nav-tabs > li > a {
  cursor: pointer;
}

thead th {
  background-color: #eee;
}

.space_top {
  margin-top: 10px;
}

.clickable {
  cursor: pointer;
}

.fa-exclamation {
  color: green;
  padding-left: 10px;
}

.illions {
  width: 18em;
}

.nav {
  margin-bottom: 15px;
  margin-top: 15px;
}

label:hover {
  background: #f5f5f5;
}

.multicolumn {
  -webkit-columns: 23em;
  -moz-columns: 23em;
  columns: 23em;
}

label.strike-when-checked > input:checked + span {
  text-decoration: line-through;
}
